<div class="input-group mb-3">
    <span class="input-group-text" style="margin-top: 10px;"><i class="bi bi-search"></i></span>
<select class="form-select form-select-lg ms-1" aria-label="Large select example">
        <option selected>Choisir une division administrative</option>
        <option value="Tanger-Assilah">Préfecture de Tanger-Assilah</option>
        <option value="M'diq-Fnideq">Préfecture de M'diq-Fnideq</option>
        <option value="Tétouan">Province de Tétouan</option>
        <option value="Fahs-Anjra">Province de Fahs-Anjra</option>
        <option value="Larache">Province de Larache</option>
        <option value="Al Hoceïma">Province d'Al Hoceïma</option>
        <option value="Chefchaouen">Province de Chefchaouen</option>
        <option value="Ouezzane">Province de Ouezzane</option>
        <option value="Oujda-Angad">Préfecture d'Oujda-Angad</option>
        <option value="Nador">Province de Nador</option>
        <option value="Driouch">Province de Driouch</option>
        <option value="Jerada">Province de Jerada</option>
        <option value="Berkane">Province de Berkane</option>
        <option value="Taourirt">Province de Taourirt</option>
        <option value="Guercif">Province de Guercif</option>
        <option value="Figuig">Province de Figuig</option>
        <option value="Fès">Préfecture de Fès</option>
        <option value="Meknès">Préfecture de Meknès</option>
        <option value="Taza">Province de Taza</option>
        <option value="El Hajeb">Province d’El Hajeb</option>
        <option value="Ifrane">Province d’Ifrane</option>
        <option value="Moulay Yaâcoub">Province de Moulay Yaâcoub</option>
        <option value="Séfrou">Province de Séfrou</option>
        <option value="Boulemane">Province de Boulemane</option>
        <option value="Taounate">Province de Taounate</option>
        <option value="Rabat">Préfecture de Rabat</option>
        <option value="Salé">Préfecture de Salé</option>
        <option value="Skhirate-Témara">Préfecture de Skhirate-Témara</option>
        <option value="Kénitra">Province de Kénitra</option>
        <option value="Khémisset">Province de Khémisset</option>
        <option value="Sidi Kacem">Province de Sidi Kacem</option>
        <option value="Sidi Slimane">Province de Sidi Slimane</option>
        <option value="Béni-Mellal">Province de Béni-Mellal</option>
        <option value="Azilal">Province d'Azilal</option>
        <option value="Fquih Ben Salah">Province de Fquih Ben Salah</option>
        <option value="Khénifra">Province de Khénifra</option>
        <option value="Khouribga">Province de Khouribga</option>
        <option value="Casablanca">Préfecture de Casablanca</option>
        <option value="Mohammédia">Préfecture de Mohammédia</option>
        <option value="El Jadida">Province d'El Jadida</option>
        <option value="Nouaceur">Province de Nouaceur</option>
        <option value="Médiouna">Province de Médiouna</option>
        <option value="Benslimane">Province de Benslimane</option>
        <option value="Berrechid">Province de Berrechid</option>
        <option value="Settat">Province de Settat</option>
        <option value="Sidi Bennour">Province de Sidi Bennour</option>
        <option value="Marrakech">Préfecture de Marrakech</option>
        <option value="Chichaoua">Province de Chichaoua</option>
        <option value="Al Haouz">Province d'Al Haouz</option>
        <option value="El Kelaâ des Sraghna">Province d'El Kelaâ des Sraghna</option>
        <option value="Essaouira">Province d'Essaouira</option>
        <option value="Rehamna">Province de Rehamna</option>
        <option value="Safi">Province de Safi</option>
        <option value="Youssoufia">Province de Youssoufia</option>
        <option value="Errachidia">Province d'Errachidia</option>
        <option value="Ouarzazate">Province de Ouarzazate</option>
        <option value="Midelt">Province de Midelt</option>
        <option value="Tinghir">Province de Tinghir</option>
        <option value="Zagora">Province de Zagora</option>
        <option value="Agadir Ida-Outanane">Préfecture d'Agadir Ida-Outanane</option>
        <option value="Inezgane-Aït Melloul">Préfecture d'Inezgane-Aït Melloul</option>
        <option value="Chtouka-Aït Baha">Province de Chtouka-Aït Baha</option>
        <option value="Taroudant">Province de Taroudant</option>
        <option value="Tiznit">Province de Tiznit</option>
        <option value="Tata">Province de Tata</option>
        <option value="Guelmim">Province de Guelmim</option>
        <option value="Assa-Zag">Province d'Assa-Zag</option>
        <option value="Tan-Tan">Province de Tan-Tan</option>
        <option value="Sidi Ifni">Province de Sidi Ifni</option>
        <option value="Laâyoune">Province de Laâyoune</option>
        <option value="Boujdour">Province de Boujdour</option>
        <option value="Tarfaya">Province de Tarfaya</option>
        <option value="Es-Semara">Province d'Es-Semara</option>
        <option value="Oued Ed-Dahab">Province d'Oued Ed-Dahab</option>
        <option value="Aousserd">Province d'Aousserd</option>
</select>
</div>

