<div class="modal-header">
  <h4 class="modal-title">Thematique Form</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="onNoClick()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="thematiqueForm" (ngSubmit)="save()">
    <div class="mb-3">
      <label for="intitule" class="form-label">Intitulé</label>
      <input type="text" class="form-control" id="intitule" formControlName="intitule" [(ngModel)]="thematique.intitule" autocomplete="off" dir="ltr" required>
    </div>
    <div class="mb-3">
      <label for="nbrJrs" class="form-label">Nombre de jours</label>
      <input type="number" class="form-control" id="nbrJrs" formControlName="nbrJrs" [(ngModel)]="thematique.nbrJrs" autocomplete="off" dir="ltr" required>
    </div>
    <div class="mb-3">
      <label for="nbrGrp" class="form-label">Nombre de groupes</label>
      <input type="number" class="form-control" id="nbrGrp" formControlName="nbrGrp" [(ngModel)]="thematique.nbrGrp" autocomplete="off" dir="ltr" required>
    </div>
    <div class="mb-3">
      <label for="nbrForIntr" class="form-label">Nombre de formateurs internes</label>
      <input type="number" class="form-control" id="nbrForIntr" formControlName="nbrForIntr" [(ngModel)]="thematique.nbrForIntr" autocomplete="off" dir="ltr" required>
    </div>
    <div class="mb-3">
      <label for="nbrForExtr" class="form-label">Nombre de formateurs externes</label>
      <input type="number" class="form-control" id="nbrForExtr" formControlName="nbrForExtr" [(ngModel)]="thematique.nbrForExtr" autocomplete="off" dir="ltr" required>
    </div>
    <div class="mb-3">
      <label for="coutPedago" class="form-label">Coût pédagogique</label>
      <input type="number" class="form-control" id="coutPedago" formControlName="coutPedago" [(ngModel)]="thematique.coutPedago" autocomplete="off" dir="ltr" required>
    </div>
    <div class="mb-3">
      <label for="dateDebut" class="form-label">Date de début</label>
      <input type="date" class="form-control" id="dateDebut" formControlName="dateDebut" [(ngModel)]="thematique.dateDebut" autocomplete="off" dir="ltr" required>
    </div>
    <div class="mb-3">
      <label for="dateFin" class="form-label">Date de fin</label>
      <input type="date" class="form-control" id="dateFin" formControlName="dateFin" [(ngModel)]="thematique.dateFin" autocomplete="off" dir="ltr" required>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onNoClick()">Annuler</button>
  <button type="button" class="btn btn-primary" (click)="save()">Sauvegarder</button>
</div>
