<div class="container mt-4">
    <button class="btn btn-primary mb-3" (click)="addForContinue()">Ajouter ForContinue</button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">DureeJrs</th>
          <th scope="col">Annee</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let forcontinue of forContinues">
          <td>{{ forcontinue.id}}</td>
          <td>{{ forcontinue.Duree_Jrs }}</td>
          <td>{{ forcontinue.Annee }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="editForContinue(forcontinue)">Modifier</button>
            <button class="btn btn-danger btn-sm" (click)="deleteForContinue(forcontinue.id)" >Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  