
  <div class="modal-body">
     <form [formGroup]="forcontinueForm">
      <div class="form-group">
        <label for="annee">Année</label>
        <input type="number" id="annee" formControlName="annee" class="form-control" [(ngModel)]="forcontinue.annee" autocomplete="off" dir="ltr" required>
      </div>
      <div class="form-group">
        <label for="duree_Jrs">Durée_Jrs</label>
        <input type="number" id="duree_Jrs" formControlName="duree_Jrs" class="form-control" [(ngModel)]="forcontinue.duree_Jrs" autocomplete="off" dir="ltr" required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onNoClick()">Fermer</button>
    <button type="button" class="btn btn-primary" (click)="save()">Enregistrer</button>
  </div>
